<!-- <div id = "logo">The Quiz Hub</div> -->
<!-- <div id = "crt"><a href="#" class="btn btn-large btn-success">Create  Quiz</a></div> -->
<%= link_to('Create Quiz',{controller: 'quizzes', action: 'new'}, class: "btn btn-large btn-success", id: "crt")%>

<%= link_to('Logout', {controller: 'sesions', action: 'logout'}, class: "btn btn-danger", id: "lg")%>

<!-- <div id = "lg"><a href="<" class="btn btn-danger">Logout</a></div>  -->
<div id = "logo">The QuizHub</div>
<div id = "head">
	<p><%= "Welcome User #{session[:email]} "%></p>
	<p>Your quizzes include the following:</p>
</div>


